{% extends 'blog/base.html' %}
{% block main %}
    {% load static %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static "blog/assets/img/home-bg.jpg" %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>اخبار روز ایران و جهان</h1>
                        <span class="subheading">برگرفته از سایت فارس نیوز</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Meain Content -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <H3 class="alert alert-primary text-center">دسته بندی : {{ category.title }}</H3>
                {% for article in object_list %}

                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'detail' article.slug %}">
                            <h2 class="post-title">{{ article.title }}</h2>
                            <h3 class="post-subtitle">{{ article.description|truncatechars:0 }}</h3>
                        </a>
                        <p class="post-meta">نوشته شده توسط
                            <a href="#">محمد زمانی</a>
                            {{ article.jpublish }}
                        <div>
                            {% for cat in article.category_publish.all %}
                                <a href="#">#{{ cat.title }}</a>
                            {% endfor %}
                        </div>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4"/>
                {% endfor %}
                <!-- Pager-->
                {% if articles.has_previous %}
                    <div class="d-flex1 justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'category' category.slug  articles.previous_page_number %}">پست های جدید &rarr;</a></div>
                {% endif %}
                {% if articles.has_next %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'category' category.slug articles.next_page_number %}">پست های قدیمی&larr;</a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}