{% extends 'blog/base.html' %}
{% block custom-header %}
    {#    <link rel="stylesheet"type="text/css"href="styles.css">#}
    {#   زمانی که بخواهیم یک سی اس اس خاصی را داخل یک صفحه قرار بدیم از این متد استفاده میکنیم#}

{% endblock %}
{% block title %}|{{ object.title }}{% endblock %}
{% block main %}
    <header class="masthead" style="background-image: url('{{ object.thumbnail.url }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7  ">
                    <div class="post-heading">
                        <h1>{{ object.title }}</h1>
                        <span class="meta">
                                <a href="#!">{{object.jpublish}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center ">
                <div class="col-md-10 col-lg-8 col-xl-7  text-justify">
                    {{ object.description|linebreaks }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
